*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

#book{
    width:95vw;
    height:95vh;
}

.page{
    background:black;
}

.page img{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}